# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*$py.class
.idea/

# generated yaml file for logging
collision.yml
contact_1_force.yml
contact_2_force.yml
last_position.yml

# due to using tox and pytest
.tox
.cache

# local model and evaluation, with exception
!evaluations/
evaluations/*
!evaluations/pick/
evaluations/pick/trpo/*
!evaluations/pick/trpo/PickbotPickContinuousDoorHandle-v0

!models/
models/*
!models/pick
models/pick/trpo/*
!models/pick/trpo/PickbotPickContinuousDoorHandle-v0
